form label {
    margin-top: 5px;
}
    form .form-head { }
        form .form-head div {
            display: block;
            float: left;
            margin-right: 10px;
        }

#tests .btn-group,
#users .btn-group,
#databases .btn-group {
    display: block;
    float: right;
    margin-bottom: 10px;
}

#login-form {}
#login-form fieldset {
    margin-bottom: 10px;
}