form label {
    margin-top: 5px;
}
    form .form-head { }
        form .form-head div {
            display: block;
            float: left;
            margin-right: 10px;
        }

#tests .btn-group,
#users .btn-group,
#databases .btn-group {
    display: block;
    float: right;
    margin-bottom: 10px;
}

#login-form {}
#login-form fieldset {
    margin-bottom: 10px;
}

tr.error td {
    color: #B94A48 !important;
    background-color: #FFECEC !important;
}
tr.error:nth-child(odd) td {
    /*color: #F2DEDE !important;
    background-color: #B94A48 !important;*/
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
}
tr.warning td {
    color: #C09853 !important;
    background-color: #FFFBE6 !important;
}
tr.warning:nth-child(odd) td {
    /*color: #FCF8E3 !important;
    background-color: #C09853 !important;*/
    color: #C09853 !important;
    background-color: #FCF8E3 !important;
}

th.sort,
th.sort:after {
    cursor: pointer;
}
th.sort:after {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    height: 5px;
    width: 10px;
    content: ' ';
}
th.asc:after {
    background: url(/static/img/sort_asc.png) no-repeat;
}
th.desc:after {
    background: url(/static/img/sort_desc.png) no-repeat;
}